body {
  background-color: #2A2F4F;
  color: #917FB3;
  font-family: Arial, sans-serif;
}

header {
  background-color: #E5BEEC;
  padding: 20px;
}

footer {
  background-color: #FDE2F3;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar-brand {
  color: #2A2F4F;
}

.navbar-nav .nav-link {
  color: #917FB3;
}

.navbar-nav .nav-link:hover {
  color: #2A2F4F;
}

/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: bold;
  color: #FDE2F3;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #2A2F4F;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 150px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ccccff;
}

footer {
  background-color: #917FB3;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}


.carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
